{% extends "CSGOTalksiteBundle::layout.html.twig" %}
{% set button = button %}
{% set userUrl = userUrl %}
{% set nickname = nickname %}
{% set avatar = avatar %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block csgotalk_body %}
    <div class="wrap1">
        <img src="{{ asset('bundles/csgotalksite/images/1.jpg') }}">
        <div class="text_wrap">
            We talk, we bet, we win.
        </div>
    </div>

    <div class="wrap2">
        <div class="text_wrap">
            Select your match</br> Leave your prediction</br> Talk about it.
        </div>
    </div>

    <div class="wrap3">
        <img src="{{ asset('bundles/csgotalksite/images/3.jpg') }}">
    </div>
    
    <script type="text/javascript">
        $(window).scroll(function()
        {
            var windowY = $(window).height();
            var scrolledY = $(window).scrollTop();

            if (scrolledY > windowY) 
            {
                $(".wrap1 img").attr("src","{{ asset('bundles/csgotalksite/images/3.jpg') }}");
                $(".wrap1 .text_wrap").html("Here is the place where you're able to vote, talk</br> and share opinions about the next CS:GO Professionnal matchs.");
                $(".wrap1 .text_wrap").css("left","20%");
            }
            else if(scrolledY < windowY) 
            {
                $(".wrap1 img").attr("src","{{ asset('bundles/csgotalksite/images/1.jpg') }}");
                $(".wrap1 .text_wrap").text("We talk, we bet, we win.");
            }
        });
    </script>
{% endblock %}