{% extends "CSGOTalksiteBundle::layout.html.twig" %}
{% set button = button %}
{% set userUrl = userUrl %}
{% set nickname = nickname %}
{% set avatar = avatar %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block csgotalk_body %}

    <div class="threads_background">
    	<a href="{{ path('csgo_talksite_create_thread') }}">
            <div class="btn">
    		  Create a thread
	        </div>
        </a>
    	<div class="threads_content_container">
    		<div class="current_threads">
    			<p>Current Threads :</p>
    		</div>
    		<div class="threads_content">
				{% for Match in Info %}
                    <a href="{{ path('csgo_talksite_show_thread', {'id': Match.MatchId}) }}">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>{{ Match.Team_1 }}</b> vs <b>{{ Match.Team_2 }}</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                Best of {{ Match.BestOf }} on {{ Match.Map }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
			</div>
		</div>
    </div>
	
{% endblock %}